#screenChooseCompany {
  display: none;
}

#screenOut {
  display: none;
}

#infoVisit {
  margin-top: 10%;
  padding: 1%;
  text-align: center;
  align-content: center;
  background-color: rgba(34, 34, 184, 0.884);
}

#zonaIf {
  background-color: rgba(34, 34, 184, 0.884);
  color: white;
}

#formVisit {
  margin-top: 5%;
}

.visit {
  margin-top: 2%;
  margin-bottom: 2%;
}

.button_visit {
  background-color: rgba(34, 34, 184, 0.884);
}