#screenChooseCompany {
  display: none;
}

#screenOut {
  display: none;
}

.visit {
 background-color: rgb(214, 214, 214);
 border: none;
 color: black;
}

#formVisit {
  margin-top: 5%;
}

#infoVisit {
  margin-top: 2%;
}

#screenVisit {
  display: none;
}

.nav {
  z-index: 10;
}

#menuNav {
  z-index: 10;
}

.menu_content {
  z-index: 10;
}

#screenRegister {
  z-index: 0;
}

.btn-datos {
  z-index: -10;
}

#screenStart {
  background-image: url('../img/logo.png');
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat; 
  background-color: black;
  height: 100%;
}

#screenRegister {
  display: none;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

header {
  display: none;
}

.btnstart {
  width: 20%;
  height: 5%;
  border-radius: 15%;
  position: relative;
  top: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 130%;
}